@font-face {
    font-family: goshaBold;
    src: url(GoshaSans-Bold.ttf);
}

@font-face {
    font-family: goshaLight;
    src: url(GoshaSans-Ultralight.ttf);
}

@font-face {
    font-family: gosha;
    src: url(GoshaSans-Regular.ttf);
}

hr {
  border-top: 1px solid #686a70;
}

header, h1 {
  font-family: gosha;
}

.content-wrapper, .right-side {
  background-color: black;
  font-family: gosha;
}


.maintitle {
  text-align: left;

  font-family: goshaBold;
  font-size: 50px;
  color: #dd4b39;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #dd4b10;
}

#ba-interest {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #0a1418;
}

#ba-interest > img {
  opacity: 0.8;
}

.gif {
  opacity: 0.8;
}

body {
  background-color: black;
  font-family: gosha;
}

.dataTables_wrapper {
    font-family: goshaBold;
    font-size: 20px;
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1;
    color: white;
}

table.dataTable tr.odd {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

table.dataTable tr.even {
  background-color: rgba(0, 0, 0, 0.5);
}
